body{
  background-image: url("https://i.pinimg.com/originals/90/9e/25/909e25893881b145777c4c02b69a788a.gif");
  background-size:cover;
  background-repeat:round;
  background-attachment:fixed;
  color: #822331;
}
.container {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: auto auto auto;
  padding: 1px;
}

.container div {
  background-color: #ffff;
  border: 6px ridge #de5267;
  padding: 27px;
  font-size: 21px;
  text-align: center;
}

div.scroll-container {
  background-color: #ffff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

h1{
    text-align: center;
}