body{
  background-image: "https://i.pinimg.com/originals/90/9e/25/909e25893881b145777c4c02b69a788a.gif";
}
.container {
  display: grid;
  gap: 40px 40px;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

div.scroll-container {
  background-color: #ffff;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

h1{
    text-align: center;
}

.color-grid{
  display: grid;
  grid-template-columns: repeat(autofill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  width: 100%;
}
