body{
    background-color: black;
    color: white
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  border: 4.5px double;
  background-color: black;
  justify-content: center;
}

.container div {
  background-color: black;
  width: 500px;
  margin: 8px;
  padding: 19px;
  text-align: center;  
  font-size: 19px;
}
