.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #90cfe8;
  justify-content: center;
}

.container div {
  background-color: #f1f1f1;
  width: 500px;
  margin: 8px;
  padding: 19px;
  text-align: center;  
  font-size: 19px;
}
