body {
  background-color: rgb(243, 204, 225);
}

h1 {
  color: #70283f;
  margin-left: 20px;
}

body{
  color: #b04869;
  text-align: justify, center;
  border: 4px solid black; /* Example: 5px solid black border */
  margin: 1px; /* Remove default body margin */
  padding: 1px; /* Remove default body padding */
  border-width: 5px;
li{
  color: #b04869;
}
}
ul {
  text-align: center; /* Centers the text content of list items */
}