body {
  background-color: rgb(243, 204, 225);
}

h1 {
  color: #70283f;
  margin-left: 20px;
}

body{
  color: #b04869;
  text-align: center;
}
li{
  color: #b04869;
}

ul {
  text-align: center; /* Centers the text content of list items */
}

.borderimg {
  border: 17px solid; /* Required for border-image */
  padding: 15px;
  border-width: 20px;
  border-image: url(https://files.catbox.moe/9pbim6.png) 30% round;
}