body {
   margin: 0;
   background-image: url('https://media.istockphoto.com/id/1195720292/vector/black-and-brown-scottish-tartan-plaid-textile-pattern.jpg?s=612x612&w=0&k=20&c=ahnYrcs4aCG1gzPXGt6Mf3KDnNX0sAl_n-M1AGTv9sg=');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: #000;
 }
 .wrapper {
   width: 960px;
   margin: 0 auto;
   background: #e6c2aa;
   border: 7px ridge #42271d;
 }
 header {
   background: #804632;
   padding: 20px;
   color: #fae2d9;
   text-align: center;
   border-bottom: 3px solid #42271d;
 }
 nav {
   background: #9e6955;
   padding: 10px;
   border-bottom: 3px solid #42271d;
   display: flex;
   justify-content: center;
   gap: 15px;
 }
 nav a {
   text-decoration: none;
   color: #fae2d9;
   font-weight: bold;
 }
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4px; /* previously 10px or larger */
  padding: 15px;
}

 .box {
   background: #fae2d9;
   border: 3px solid #784532;
   padding: 10px;
 }
 .title {
   background: #915944;
   color: #fae2d9;
   padding: 5px;
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 8px;
 }

footer {
  max-width: 939px;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  background: #ba8e7d;
  border: 5px ridge #42271d;
  font-size: 13px;
}

/*for the gallery part*/
.gallery-box {
    width: 100%;
    background: #f5d7c9;
    border: 2px solid #57342c;
    padding: 15px;
    margin-top: 10px;
}

/* Title styling (same as your other title bars) */
.gallery-box .title {
    background: #7a4a3a;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gallery-box img {
    max-width: 100%;
    height: auto;
    border: 2px solid #57342c;
}
