* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
  background-image: "https://media.istockphoto.com/id/1321674725/vector/brown-argyle-tartan-plaid-seamless-pattern-background.jpg?s=612x612&w=0&k=20&c=LMgOQVA5TTnRD3cLoFSEYLpO8pYdrjRnMgFxMlnmPp0=";
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  background-color: white;
  gap: 10px;  
}

.header {
  grid-area: header;
  background-color: beige;
  border: 4px double #916a4c;
  text-align: center;
  color: #000;
}

.header > h1 {
  font-size: 40px;
}

.menu {
  grid-area: menu;
  }
  
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #bf7b50;
  border: 4px double #1f150f;
  color: #ffffff;
}

.menu li:hover {
  background-color: #6e452c;
}
  
.content {
  grid-area: main;
}

.content > h1 {
  font-size: 30px;
  margin-bottom: 27px;
}

.content > p {
  margin-bottom: 30px;
}

.facts {
  grid-area: facts;
  border: 4px double #916a4c;
  background-color: beige;
  padding: 10px;
  text-align: justify;
}

.facts > h2 {
  font-size: 23px;
}

.facts li {
  margin-bottom: 6px;
}

.footer {
  grid-area: footer;
  background-color: beige;
  color: #000000;
  border: 4px double #916a4c;
  text-align: center;
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}
}